body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  margin: 10px;
}

#btn-logout {
  margin-left: 15px;
}

#login-message {
  color: #FF0000;
}

/* Props broc.seib https://stackoverflow.com/questions/14217902/how-to-set-empty-span-height-equal-to-default-line-height */
span:empty:before {
  content: "\200b";
}